@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Staatliches&display=swap");

:root {
	--black: #1f1f1f;
	--gray-100: #303030;
	--gray-200: #3d3d3d;
	--gold: #d1b487;
}

body {
	font-family: "Lato", sans-serif;
	background-color: var(--gray-200);
	color: #fff;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2 {
	font-family: "Staatliches", cursive;
}

p {
	line-height: 1.6;
}

main {
	background: var(--gray-200);
	min-height: calc(100vh - 6rem);
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	background-image: linear-gradient(
		45deg,
		var(--gray-200) 25%,
		var(--gray-100) 25%,
		var(--gray-100) 50%,
		var(--gray-200) 50%,
		var(--gray-200) 75%,
		var(--gray-100) 75%,
		var(--gray-100) 100%
	);
	background-size: 56.57px 56.57px;
}

main::before,
main::after {
	content: "";
	position: absolute;
	top: 0;
	width: 3rem;
	height: 100%;
	background-image: linear-gradient(
		90deg,
		#ffffff 20%,
		transparent 20%,
		transparent 40%,
		#ffffff 40%,
		#ffffff 60%,
		transparent 60%,
		transparent 80%,
		#ffffff 80%,
		#ffffff 100%
	);
	background-size: 100% 100%;
}

main::before {
	left: -3rem;
}

main::after {
	right: -3rem;
}

main h1 {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 960px) {
	main {
		padding: 0 0.5rem;
	}
}

/* scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* 
	Home Page
*/

#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	isolation: isolate;
}

.welcome-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	padding: 0 2rem;
}

.botan-img-container {
	display: flex;
	justify-content: center;
	position: relative;
}

.botan-img {
	object-fit: contain;
	width: 100%;
}

.welcome-text-wrapper {
	margin: auto;
	width: clamp(35ch, 100%, 55ch);
}

.welcome-text-wrapper::before {
	content: "";
	height: 20px;
	width: 100%;
	background-color: rebeccapurple;
	display: block;
}
.welcome-text {
	color: var(--black);
	background: #d1b487;
	padding: 1rem;
	width: 100%;
}

.welcome-text h2 {
	font-size: 2rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0.25em;
}

.welcome-text p {
	margin: 0;
	font-size: 1.4rem;
}

@media screen and (min-width: 960px) {
	#home {
		max-height: calc(100vh - 6rem);
		flex-direction: row-reverse;
	}
	.botan-img-container {
		justify-content: right;
	}
	.welcome-text-wrapper {
		margin: auto 2rem auto 0;
	}
}

/* 
	Anniversary Page 
*/

.anniversary {
	display: flex;
	height: 100vh;
	align-items: top;
	justify-content: center;
	font-size: 3rem;
	background-image: url("./images/bg.png");
	background-position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	text-shadow: 2px 2px black;
	font-size: 100px;
}

.anniversary_anchor {
	color: #fff;
	height: 30%;
	margin-top: 80px;
	padding-top: 20px;
}

.fa-external-link-square-alt {
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

iframe {
	display: block;
	width: 50%;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
}

/* 
	Projects Page 
*/

#projects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.project {
	position: relative;
	display: grid;
	place-items: center;
	isolation: isolate;
	height: 100%;
	overflow-y: hidden;
}

.project img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.6);
}

.project h2 {
	font-size: 2rem;
	font-weight: 900;
}

.project-desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(1rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100%);
	transition: transform 0.5s ease-in-out;
	padding: 2rem 1rem;
}

.project:hover .project-desc {
	transform: translateY(0);
}

/* .map {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-flow: column;
  height: 100%;
} */

/* .map p {
  align-items: center;
  justify-content: center;
  width: 60%;
}

.map svg {
  display: block;
  align-items: center;
  justify-content: center;
  transform: scale(1.3, 1.2);
  background-color: #C3F4FE;
  margin: auto;
  border-radius: 10px;
}

.map>element.style {
  background-color: rgba(7, 205, 255, 0.6);
}

 */

.jvectormap-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	touch-action: none;
	z-index: 2;
}

.jvectormap-tip {
	position: absolute;
	display: none;
	border: solid 1px #cdcdcd;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
	z-index: 3;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
	position: absolute;
	right: 50px;
	top: 50px;
	border-radius: 3px;
	background: #292929;
	padding: 3px;
	color: white;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
	box-sizing: content-box;
	font-size: x-small;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
	width: 10px;
	height: 10px;
}

.jvectormap-zoomin {
	top: 10px;
}

.jvectormap-zoomout {
	top: 30px;
}
