@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

:root {
	--black: #1f1f1f;
}

body {
	font-family: "Poppins", sans-serif;
	color: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

main {
	background-image: url("./images/bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.anniversary {
	display: flex;
	height: 100vh;
	align-items: top;
	justify-content: center;
	font-size: 3rem;
	background-image: url("./images/bg.png");
	background-position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	text-shadow: 2px 2px black;
	font-size: 100px;
}

.anniversary_anchor {
	color: #fff;
	height: 30%;
	margin-top: 80px;
	padding-top: 20px;
}

.fa-external-link-square-alt {
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

iframe {
	display: block;
	width: 50%;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
}

.projects {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100vh;
	align-items: top;
	justify-content: center;
	font-size: 3rem;
	background-image: url("./images/bg.png");
	background-position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow: 2px 2px black;
	font-size: 100px;
}

.project_col {
	display: flex;
	flex: 1 0 18%;
	margin: 5px;
	border: 1px solid #fff;
	border-radius: 10px;
	color: white;
	background: tomato;
	background: rgba(255, 255, 255, 0.5);
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;
	line-height: 35px;
	font-size: 30px;

	background-position: center;
	/* height: 70%; */
	/* align-self: center; */
}

.project_col:after {
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	white-space: pre-wrap;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0 8px;
	opacity: 0;
	content: attr(data-text);
	transition: all 0.3s ease-out;
	font-size: 20px;
}

.project_col:hover:after {
	opacity: 1;
	top: 0;
	padding: 8px;
	border-radius: 10px;
	font-size: 20px;
	backdrop-filter: blur(5px);
}

.project_title {
	display: flex;
	flex-direction: column;
	color: #fff;
	opacity: 1;
	transition: all 0.3s ease-out;
}

.project_col:hover {
	backdrop-filter: blur(5px);
	transition: all 0.3s ease-in;
}

.project_col:hover .project_title {
	opacity: 0;
	transition: all 0.3s ease-in;
}

.botan_img {
	animation: botan_img 2s cubic-bezier(0.39, -1.05, 0.58, 1.95);
	transform-origin: center bottom;
	position: absolute;
	bottom: 0;
	z-index: 1;
	max-height: 91.5vh;
}

@keyframes botan_img {
	0% {
		opacity: 0;
		transform: scale3d(0.75, 0.75, 1);
	}

	40% {
		opacity: 0;
		transform: scale3d(0.75, 0.75, 1);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

.botan_info {
	display: flex;
	flex: 1;
	margin: 0 auto;
	border: 1px solid #fff;
	border-radius: 10px;
	color: white;
	background: tomato;
	background: rgba(255, 255, 255, 0.5);
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;
	font-size: 30px;
	max-width: 40%;
	animation: botan_img 3s cubic-bezier(0.39, -1.05, 0.58, 1.95);
	transform-origin: center bottom;
}

/* .map {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-flow: column;
  height: 100%;
} */

/* .map p {
  align-items: center;
  justify-content: center;
  width: 60%;
}

.map svg {
  display: block;
  align-items: center;
  justify-content: center;
  transform: scale(1.3, 1.2);
  background-color: #C3F4FE;
  margin: auto;
  border-radius: 10px;
}

.map>element.style {
  background-color: rgba(7, 205, 255, 0.6);
}

 */

.jvectormap-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	touch-action: none;
	z-index: 2;
}

.jvectormap-tip {
	position: absolute;
	display: none;
	border: solid 1px #cdcdcd;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
	z-index: 3;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
	position: absolute;
	right: 50px;
	top: 50px;
	border-radius: 3px;
	background: #292929;
	padding: 3px;
	color: white;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
	box-sizing: content-box;
	font-size: x-small;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
	width: 10px;
	height: 10px;
}

.jvectormap-zoomin {
	top: 10px;
}

.jvectormap-zoomout {
	top: 30px;
}
